body {
  background: fefefe;
}

h2 {
  color: #1460ba;
}

p {
  color: teal;
}

.header-main {
  color: brown;
}

.header-section {
  color: green;
}
/* .header {
  background: #c9c6c6;
} */

a {
  color: rgb(177, 140, 71);
}

.navigation{
    border-radius: 50px;
    padding:16px;
    background:yellowgreen;
}

.navigation-item{
    margin-right: 20px;
    display: inline-block;
    color:#fff;
}